<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Title</title>
  <link type="text/css" rel="stylesheet" href="lib/iview/iview.css">
  <link type="text/css" rel="stylesheet" href="css/index.css">
</head>
<body>
<div id="app">
  <Drawer title="操作历史" placement="right" :closable="false" v-model="dvalue">
    <p>新增表-t_rw</p>
    <p>新增字段-t_ry-</p>
    <p>删除表字段</p>
  </Drawer>
  <div class="layout">
    <Layout>
      <i-header :style="{position: 'fixed', width: '100%'}">
        <Dropdown>
          <a href="javascript:void(0)" style="color: white;font-size: 16px;">
            模式-rw
            <Icon type="ios-arrow-down"></Icon>
          </a>
          <dropdown-menu slot="list">
            <dropdown-item>模式-rw</dropdown-item>
            <dropdown-item>模式-cl</dropdown-item>
          </dropdown-menu>
        </Dropdown>
        <span style="margin-left: 15px;font-size: 16px;color: white">当前版本-V1.0</span>
      </i-header>
      <i-content :style="{margin: '78px 200px'}">
        <div style="overflow: hidden;">
          <div style="float: left"><i-button type="success" icon="md-add">新建表</i-button></div>
          <div style="float: right">
            <i-button icon="md-time" @click="dvalue = true">操作历史</i-button>
            <i-button type="primary" icon="md-checkmark">提交审批</i-button>
          </div>
        </div>
        <Collapse v-model="value2" accordion :style="{marginTop: '15px'}">
          <Panel name="1">
            <span>任务表（t_rw）</span>
            <div style="position: absolute;right: 10px;top: 0;">
              <i-button type="success" icon="md-add-circle">新增字段</i-button>
              <i-button type="primary" icon="md-copy">复制表</i-button>
              <i-button type="info" icon="ios-cafe">生成实体类</i-button>
              <i-button type="error" icon="md-close">删除表</i-button>
            </div>
            <i-table slot="content" stripe :columns="columns1" :data="data1" >
              <template slot-scope="{ row }" slot="field">
                <span>{{row.field}}</span>
                <span title="主键" v-if="row.field==='C_BH'"><Icon type="ios-key" size="24" color="gold" /></span>
                <Tag color="warning" closable  v-else-if="row.field==='C_BH_AJ'">唯一索引</Tag>
                <Tag color="warning" closable  v-else-if="row.field==='C_AH'">索引</Tag>
              </template>
              <template slot-scope="{ row, index }" slot="action">
                <Dropdown v-if="!noindex.includes(row.field)">
                  <i-button type="warning" size="small">
                    标记<Icon type="ios-arrow-down"></Icon>
                  </i-button>
                  <dropdown-menu slot="list">
                    <dropdown-item>普通索引</dropdown-item>
                    <dropdown-item>唯一索引</dropdown-item>
                  </dropdown-menu>
                </Dropdown>
                <i-button type="primary" size="small" style="margin-right: 5px" @click="show(index)">编辑</i-button>
                <i-button type="error" size="small" @click="remove(index)">删除</i-button>
              </template>
            </i-table>
          </Panel>
          <Panel name="2">
            <span>单位表（t_dw）</span>
            <p slot="content">斯蒂夫·盖瑞·沃兹尼亚克（Stephen Gary Wozniak），美国电脑工程师，曾与史蒂夫·乔布斯合伙创立苹果电脑（今之苹果公司）。斯蒂夫·盖瑞·沃兹尼亚克曾就读于美国科罗拉多大学，后转学入美国著名高等学府加州大学伯克利分校（UC Berkeley）并获得电机工程及计算机（EECS）本科学位（1987年）。</p>
          </Panel>
          <Panel name="3">
            <span>人员表（t_ry）</span>
            <p slot="content">乔纳森·伊夫是一位工业设计师，现任Apple公司设计师兼资深副总裁，英国爵士。他曾参与设计了iPod，iMac，iPhone，iPad等众多苹果产品。除了乔布斯，他是对苹果那些著名的产品最有影响力的人。</p>
          </Panel>
        </Collapse>
      </i-content>
      <i-footer class="layout-footer-center">智慧审判团队</i-footer>
    </Layout>

  </div>
</div>
<script type="text/javascript" src="lib/vue/vue.min.js"></script>
<script type="text/javascript" src="lib/iview/iview.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>
