.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #4d4d4d;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #fff;
  background-color: #4d4d4d;
}
.navbar-brand {
  padding: 18px 18px;
  font-size: 20px;
}
.navbar-nav>li>a {
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 18px;
  height: 60px;
}
.load-indicator:after, .load-indicator:before{
  position: fixed;
}
.container-first{
  margin-top: 60px;
  padding: 15px 0;
}
.horizontal .checkbox-primary,.radio-primary{
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}
.btn-panel{
  float: right;
}
.btn-panel i{
  color: #dddddd;
}
.btn-panel i:hover{
  color: white;
}
.panel-title{
  font-size: 18px;
}
.no-data {
  text-align: center;
}
